@model IEnumerable<Capstone.Models.Stand>
    


@{
    ViewBag.Title = "Index";
}

<h2>Please choose the stand you would like to reserve</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @*<input type="checkbox" name="Stands" value="@item">*@
           @*@Html.CheckBoxFor(m => m.Stands[i].Selected)*@

            @Html.ActionLink("Select", "Create", "Customers", new { id = item.ID }, null)
        </td>
    </tr>
}
</table>
    <th>
        @Html.ActionLink("Home", "Index", "Home")
    </th>
