@model IEnumerable<Capstone.Models.Stand>
    


@{
    ViewBag.Title = "Index";
}

<h2>Please choose the stand you would like to reserve</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @*<input type="checkbox" name="Stands" value="@item">*@
           @*@Html.CheckBoxFor(m => m.Stands[i].Selected)*@

            @Html.ActionLink("Select", "Create", "Customers", new { id = item.ID }, null)
        </td>
    </tr>
}
</table>
<div id="googleMap" style="width:100%;height:700px;"></div>
<script>
            function myMap() {

                latLng = new google.maps.LatLng(45.226143, -90.193689)
            var mapOptions = {
                center: latLng,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };
            var map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(45.225111, -90.184234),
                map : map,
                title: "Whisky Falls Lodge!",
                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                visible: true
            });
            marker.setMap(map);
        }

</script>

@*map API*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT9CH_tlLdtRwV0F6iqV3SNtV1biYxLOY&callback=myMap"></script>
@*Geocode API*@
<script src=" https://maps.googleapis.com/maps/api/geocode/json?&key=AIzaSyAZT8uW1sDbU7asaucSjFJZ0b_Nnjqw5W8"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    <th>
        @Html.ActionLink("Home", "Index", "Home")
    </th>
