@model MVCEmail.Models.EmailFormModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Send your comments.</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FromName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FromEmail)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Message)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>
}
<p>We are located in the beautiful woods of Taylor County Wisconsin on the corner of Hwy M & Timber Dr</p>
<p>2976 County Road M</p>
<p>Medford, Wisconsin 54470</p>
<p>(715)748-1212</p>

<div id="googleMap" style="width:100%;height:500px;"></div>
<script>
    function myMap() {
        var lodge = { lat: 45.225959, lng: -90.193434 };
        var googleMap = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 16,
            center: lodge,
            mapTypeId: google.maps.MapTypeId.HYBRID
        });

        var marker = new google.maps.Marker({
            map: map,
            position: LatLng(45.225959, -90.193434),
           // marker:setMap(map)
        });
        
    }

</script>

@*map API*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT9CH_tlLdtRwV0F6iqV3SNtV1biYxLOY&callback=myMap"></script>
@*Geocode API*@
<script src=" https://maps.googleapis.com/maps/api/geocode/json?&key=AIzaSyAZT8uW1sDbU7asaucSjFJZ0b_Nnjqw5W8"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}