@model Capstone.Models.SuccessfulHunts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuccessfulHunts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfAnimals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfAnimals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeatherConditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeatherConditions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
